.mat-form-field-appearance-legacy .mat-form-field-label {
  color: red
}
input{
  background-color: red;
}
form{
  background-color: #c2c2c2;
  width: 43%;
  padding: 5rem;
  height: 230px;
  margin:0 auto;
  border-radius: 15px;
}
